BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
DATABASE_URL=
ADMIN_EMAIL=
ADMIN_PASSWORD=
NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_KEY=
CLOUDFLARE_TURNSTILE_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
IAM_ACCESS_KEY_ID=
IAM_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
LAMBDA_NAME=